name: Build-dev

on:
  push:
    branches:
      - 'dev'

jobs:
  build-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup nodejs
        uses: actions/setup-node@v1
        with:
          node-version: 16.17.0

      - name: Install dependencies
        working-directory: ./app/dashboard
        run: npm ci

      - name: Build project
        working-directory: ./app/dashboard
        run: VITE_BASE_API=/api/ npm run build --if-present -- --outDir build --assetsDir statics

      - name: Create 404.html
        working-directory: ./app/dashboard
        run: cp ./build/index.html ./build/404.html

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            inlovewithxanny/npoint-vpn:${{github.ref_name}}
            ghcr.io/noadevereux/npoint-vpn:${{github.ref_name}}

  deploy:
    runs-on: ubuntu-latest
    needs: build-dev
    steps:
      - name: Deploy
        run: |
          sudo apt-get update
          sudo apt-get install -y openssh-client
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | sudo tee ~/.ssh/id_rsa
          sudo chmod 600 ~/.ssh/id_rsa
          sudo ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@${{ secrets.DEV_HOST }} "nexpoint update"
